

/* Define global color variables */
:root {
  --primary-color: #dcede6;
  --secondary-color: #e4ede6;
  --accent-color: #ff0000;
  --black-colour: #060606;
  --grey-colour: #878787;
}


/* Reset some default styles */
body,
h1, h2, h3, h4, h5, h6,
p, ul, li {
  margin: 0;
  padding: 20;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--black-colour);
  
}





/* Header styles */
header {
 
  text-align: center;
}

/* Style for header bar text*/
.header-title {
  font-size: 32px;
  margin-bottom: 10px;
  background-color: var(--black-colour);
  color: var(--primary-color);
  padding: 10px;
  
}


      
.header-bar {
  /* width: 100%; */
  background-color: var(--primary-color);
  color: var(--black-colour);
  margin-bottom: 10px;
  padding: 10px;

}



nav ul {
  list-style: none;
  margin: 0;
  color: var(--black-colour);
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

.resume-button {
  margin-left: 10px;
}


/* Header title styles */
.header-title {
  font-size: 28px;
  font-family: 'Helvetica Light', sans-serif;
 /* font-weight: lighter; */
  color: #f8f8f8;
  margin-top: 0px;
}

/* Header button styles */
.resume-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: var(--black-colour);
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
}

/* Set default font and background */
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

.resume-button {
  margin-left: 10px;
}

nav ul li a {
  color: var(--grey-colour);
  text-decoration: none;
  padding: 5px;
  transition: color 0.3s ease;
  border: 1px solid #060606;
  border-radius: 5px;
}

nav ul li a:hover {
  color: var(--black-colour);
}

/* Main content styles */
main {
  margin: 50px;
  margin-left: 150px;
  margin-right: 150px;
}

/* Style for "About" text*/
section {
  
  margin: 0 100px;
  margin-bottom: 50px;
  
}

h2 {
  font-size: 24px;
  margin: 0 50px;
  margin-bottom: 10px;
  text-align: center;
}

.video-container {
  max-width: 1500px;
  /* Add any other styling you need for this section */
}

.video-container video{
  text-align: center;
  /* Add any other styling you need for this section */
}

/* Style for the project containers */
.project-container {
  background-color: #060606; /* Add the desired background color */
  border: 1px solid #060606 ; /* Optional: Add a border */
  border-radius: 5px; /* Add rounded corners */
  margin: 0 0px; /* Space the border 20px away from the sides */
  margin-bottom: 20px; /* Optional: Add some spacing between project containers */
  padding: 1px;  /* Optional: Add padding to the project containers */
}

/* Reset link styles for project titles */
.project-info h3 {
    /* margin: 0;  Optional: Remove any default margins on <h3> elements */
  color: #000; /* Choose the desired color for project titles */
  text-decoration: none;
}

/* Remove link styles for project titles */
.project-info h3 a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}

/* Add necessary styles for the project description */
.project-info p {
  margin-top: 5px; /* Optional: Add some spacing below project titles */
  text-align: left;
}

.project-link {
    /* Add necessary styles for each project link */
    display: inline-block;
    width: calc(100% / 3); /* Divide the container width equally among 3 images */
    text-align: center; /* Optional: Center-align the image within the link */
    text-decoration: none;
    color: var(--black-colour);
    
}

.project-link img {
  /* Add necessary styles for the project images */
  max-width: 100%;
  height: auto;
  transition: transform 0.2s; /* Optional: Add a transition effect */
  text-align: center;
  
}

.project-link:hover img {
  /* Optional: Apply a hover effect */
  transform: scale(0.95);
  color: var(--primary-color);
  text-decoration: none;
}

/* use for two side by side images*/
.image-double-container {
  display: inline-block;
  width: calc(100%/2);
}

.image-double-container img {
  max-width: 50%;
  height: auto; /* Maintain aspect ratio */
}

/* Add styles for the scroll arrows if needed */

.project-showcase {
  /* Add necessary styles for the project showcase */
  display: flex;
  align-items: center;
  background-color: #f8f8f8; /* Optional: Add background color */
  padding: 20px;
}

.project-info {
  /* Add necessary styles for the project information */
  flex: 1; /* Take 1/2 of the available width */
  padding-right: 20px;
}

.project-info h3 {
  /* Optional: Style the project name */
  margin-bottom: 10px;
}

.project-image {
  /* Add necessary styles for the project image */
  flex: 1; /* Take 1/2 of the available width */
  width: 150%; /* Adjust the image size as needed */
  align-items: center;
}

.project-image img {
  /* Optional: Style the project image */
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #ddd; /* Optional: Add a border around the image */
  border-radius: 5px; /* Optional: Add rounded corners */
  
}

.full-image img {
  /* Optional: Style the project image */
  width: 75%;
  height: auto;
  padding: 20px;
  margin-bottom: 1px;
  align-items: center;
}


/* Apply hover effect to images */

.project-link:hover {
  transform: scale(0.95);
  filter: blur(2px);
  /* Decrease size on hover */

  .project-link {
    /* Add necessary styles for the project link */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--primary-color);
    text-decoration: none;
  }

  .project-name {
    /* Add necessary styles for the project name */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Hide the project name by default */
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--primary-color);
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
  }

  /* Style for the video element */
  .Myvideo {
    display: block;
    position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px;
    max-height: 100%; max-width: 100%; margin: auto;
  }
  

  /* Footer styles */
footer {
  background-color: var(--secondary-color);
  padding: 50px;
  color: #fff;
  text-align: center;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin-bottom: 10px;
  }
}
